################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Estructuras_Control_Flujo/.vs/Estructuras_Control_Flujo/v16/Server/sqlite3
